body {
  background: linear-gradient(-225deg, #e3fdf5 0%, #ffe6fa 100%);
}

.Weather .container {
  align-self: center;
<<<<<<< HEAD
  background-color: #eec1bc;
  /*#a2e1d8;*/
  /*radial-gradient(circle at 50%, #f8d470, #a2e1d8);*/
  /*linear-gradient(to top, #feada6 0%, #f5efef 100%);*/
  border: 2px solid #e14b43;
  border-radius: 10px;
=======
  background: linear-gradient(to top, #feada6 0%, #f5efef 100%);
  border-radius: 8px;
>>>>>>> parent of c88f0c3 (Fonts added)
  height: 700px;
  width: 420px;
  margin-top: 40px;
}

.Weather .search-form {
  border: transparent;
  border-radius: 18px;
  width: 240px;
  padding: 6px;
}

.Weather .search-button {
  border: transparent;
  border-radius: 18px;
  width: 70px;
  padding: 6px;
  margin: 4px;
  font-size: 14px;

  background-color: white;
  color: #e14b43;
}

.Weather .otherValues {
  width: 33%;
  margin: 0 auto;
  font-size: 14px;
  padding: 10px;
}

<<<<<<< HEAD
=======
.WeatherData h1 {
  color: #e14b43;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 28px;
  font-weight: 500;
}

>>>>>>> parent of c88f0c3 (Fonts added)
.Weather .degree {
  color: #e14b43;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 28px;
  font-weight: 500;
}

.Temperatures .current-temperature,
.units {
  color: #e14b43;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 28px;
  font-weight: 500;
}

.Temperatures a {
  text-decoration: none;
  color: #e14b43;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 28px;
  font-weight: 500;
}
.Temperatures a:hover {
  color: #ad362f;
  font-weight: 600;
}
@font-face {
  font-family: "Nunito";
  src: local("Nunito"), url("./fonts/Nunito/Nunito-Regular.ttf");
}

@font-face {
  font-family: "vonique-64";
  src: local("vonique-64"), url("./fonts/vonique-64/Vonique\ 64\ Bold.ttf");
}

@font-face {
  font-family: "bellerose";
  src: local("bellerose"), url(./fonts/bellerose/Bellerose.ttf);
}
