.Weather .container {
  align-self: center;
  background-color: #f9ecec;
  border-radius: 6px;
  height: 700px;
  width: 400px;
  margin-top: 40px;
}

.Weather .forecast {
  border: 3px transparent #fc624d;
  background-color: #fc624d;
  opacity: 70%;
  border-radius: 6px;
  flex-wrap: wrap;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 20px;
  width: 20%;
}

.Weather .otherValues {
  width: 33%;
  margin: 0 auto;
  font-size: 14px;
  padding: 10px;
}

.WeatherData h1 {
  color: #e14b43;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 28px;
  font-weight: 500;
}

.Weather .degree {
  color: #e14b43;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 28px;
  font-weight: 500;
}
