.WeatherData h1 {
  color: #e14b43;
  font-family: "bellerose";
  font-size: 42px;
  font-weight: 800;
}
.Dates .DayTime {
  color: aqua;
}

@font-face {
  font-family: "Nunito";
  src: local("Nunito"), url("./fonts/Nunito/Nunito-Regular.ttf");
}

@font-face {
  font-family: "vonique-64";
  src: local("vonique-64"), url("./fonts/vonique-64/Vonique\ 64\ Bold.ttf");
}

@font-face {
  font-family: "bellerose";
  src: local("bellerose"), url(./fonts/bellerose/Bellerose.ttf);
}
