.WeatherForecast .daily {
  border: 3px solid #f4eaea;
  opacity: 70%;
  border-radius: 6px;
  flex-wrap: wrap;
  font-size: 16px;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 22%;
  height: 160px;
}

.WeatherForecast .daily:hover {
  background: #f4eaea;
}
